extends layout

block content
  div.container(ng-app='toDOApp', ,='', ng-controller='ToDOCtrl')
    form(ng-submit='toDoSubmit()')
      input(type='text', ng-model='toDoText')
      h3(hello-world)
      ul.todo-list
        li( ng-repeat='rec in todoRecs', ng-click='todoClick($index)', ng-class="{ 'done' : rec.done }" )
           rec-world(id="{{ rec._id }}",class="record"){{rec.name}}
    p Total Active count is {{activeCount}}
    button(ng-click='viewAll()') View All
    button(ng-click='deleteDone()') Delete Done
    button(ng-click='showActive()') Active